.navbar{
    height: 5vh;
    // width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: grey 2px solid;
    align-items: center;
    button{
        height: 2.4rem;
        width: 7rem;
        background-color: rgb(241, 148, 229);
        border-radius: 5px;
        border-style: none;
        color: white;
        font-weight: 700;
    }
}